<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= locals.title || 'Store manager' %>
    </title>
    <!--Import Bootswatch paper-->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/03a3640dee.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <link rel="stylesheet" href="../stylesheets/sidebar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.0/JsBarcode.all.js"></script>
</head>

<body>
    <!--Body-->
    <%if (typeof user != "undefined") {%>
    <% if(user.isVerified == true){%>
    <%- include('./part/sidebar')%>
    <div class="page-wrapper chiller-theme toggled">
        <%- include('./part/sidebar') %>
        <div class="page-wrapper chiller-theme toggled">
            <main class="page-content">
                <%-body%>
            </main>
        </div>
    </div>
    <%}else{%>
    <%- include('./part/navbar') %>
    <div class="container page-header fadsfadfda">
        <%- body %>
    </div>
    <%}%>
    <%}else{%>
    <%- include('./part/navbar') %>
    <div class="container page-header">
        <%- body %>
    </div>
    <%}%>
    
    
    <!--Import bootstrap js-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="../javascripts/sidebar.js"></script>
    <script src="../javascripts/admin.js"></script>
</body>

</html>