<div class="col-lg-4"></div>
<div class="col-lg-4">
    <form class="form-horizontal" action="/user/profile" method="POST">
        <fieldset>
            <legend>My Profile</legend>
            <div class="form-group">
                <label for="inputFullName" class="col-lg-4 control-label">Full Name</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputFullName" placeholder="Full name" name="fullName"
                        value="<%= views.fullName %>">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-4 control-label">Email</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email"
                        value="<%= views.email %>" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="inputRole" class="col-lg-4 control-label">Roles</label>
                <div class="col-lg-8">
                    <% user.roles.map(role => { %>
                    <%- include('partials/color', { role }) %>
                    <span class="label label-<%= color %>"><%= role %></span>
                    <% }) %>
                    <span class=" help-block">
                        To grant permission, click this button
                        <div class="text-right">
                            <a href="/user/roles?option=add" class="btn btn-info btn-sm">Grant permission</a>
                        </div>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputBirthday" class="col-lg-4 control-label">Birthday</label>
                <div class="col-lg-8">
                    <input type="date" class="form-control" id="inputBirthday" name="birthday"
                        value="<%= views.birthday %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">Gender</label>
                <div class="col-lg-8">
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" id="optionsRadios1" value="male"
                                <%=  views.gender.male %>>
                            Male
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" id="optionsRadios2" value="female"
                                <%=  views.gender.female %>>
                            Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-8">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="col-lg-4">
    <%- include('partials/alert') %>
</div>