<table class="table table-striped custab mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>code</th>
            <th>name</th>
            <th>price</th>
            <th>decription</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <%products.forEach((e,i) =>{%>
    <tr>
        <td><%= i %></td>
        <td><svg class="barcode" jsbarcode-format="CODE128" jsbarcode-value="<%= e.code %>" jsbarcode-textmargin="0"
                jsbarcode-fontoptions="bold">
            </svg></td>
        <td><%= e.name %></td>
        <td><%= e.price %></td>
        <td style="max-width: 300px; max-height: 10px; overflow: hidden;"><%= e.description %></td>
        <td class="text-center"><button type="button" class="btn btn-danger"
                onclick="del('<%= e.code %>')">Delete</button></td>
    </tr>
    <%});%>

</table>
<script>
    JsBarcode(".barcode").init();

</script>